<div class="img-container text-center mb-4">
    <img class="mt-4" src="../../../assets/logo.png" alt="logo" width="100%">
</div>
<div class="container d-flex align-items-center">
    <div class="body-card mx-auto">
        <div class="col-sm card text-center">
            <h3>INGRESE POR FAVOR</h3>
            <form [formGroup]="formulario" (ngSubmit)="Enviar()">
                <div class="d-flex flex-column">
                    <input type="text" formControlName="Nombre" placeholder="Nombre" class="form-control-sm mx-auto">
                </div>
                <div class="d-flex flex-column">
                    <input type="text" formControlName="Apellido" placeholder="Apellido" class="form-control-sm mx-auto">
                </div>
                <div class="d-flex flex-column">
                    <button [disabled]="formulario.invalid" type="submit" class="btn btn-success mx-auto">ENVIAR</button>
                </div>
            </form>
            <div *ngIf="mensaje" class="alert alert-info mt-3">
                {{ mensaje }}
            </div>
        </div>
    </div>
</div>
