body{
    margin: 0;
    padding: 0;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img{
    width: 20%;
    border-radius: 50%;
}

#card{
    background-color: #ffdde1;
}
.card{
    background-color: #ffdde1;
}
body-card{
background-color: #ffdde1;
    
}

#color{
    background-color: #ee9ca7;
}
.color{
    background-color: #ee9ca7;
}
/* Estilo para el overlay (capa de fondo) */
.overlay {
    position: fixed; /* Fija el overlay a la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(250, 218, 218, 0.5); /* Fondo semi-translúcido */
    display: flex; /* Usar flexbox para alinear el spinner */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    z-index: 9999; /* Asegura que esté encima del contenido */
  }
  
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.spinner-border {
    width: 100px !important;
    height: 100px !important;
    border-width: 5.5em;
    color: #b90e86; 
}